/*
 *  Copyright (C) 2018 Quest Innovations <www.quest-innovations.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/dts-v1/;
#include "socfpga_cyclone5_dolores_base.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Custom project Quest Dolores";
	compatible = "altr,socfpga-cyclone5", "altr,socfpga";

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	memory {
		name = "memory";
		device_type = "memory";
		reg = <0x0 0x80000000>; /* 2GB */
	};

	aliases {
		/* this allow the ethaddr uboot environmnet variable contents
		 * to be added to the gmac1 device tree blob.
		 */
		ethernet0 = &gmac1;
	};

	gpiokeys {
		compatible = "gpio-keys";
		camera_capture {
			label = "Camera Capture";
			gpios = <&gpio3 0 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_CAMERA>;
			linux,can-disable;
			status = "okay";
		};
		power_button {
			label = "Power Button";
			gpios = <&gpio3 2 GPIO_ACTIVE_LOW>; 
			linux,code = <KEY_POWER>;
			linux,can-disable;
			status = "okay";
		};
		
	};
	gpio-poweroff {
		compatible = "gpio-poweroff";
		gpios = <&gpio3 1 GPIO_ACTIVE_LOW>;
		status = "okay";
	};

	panel_0: panel {
		compatible = "ortustech,com43h4m85ulc";
		power-supply = <&regulator_3_3v>;
	};

	regulator_3_3v: vcc3p3-regulator {
		compatible = "regulator-fixed";
		regulator-name = "VCC3P3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&gmac1 {
	status = "okay";
	phy-mode = "rgmii";

	rxd0-skew-ps = <0>;
	rxd1-skew-ps = <0>;
	rxd2-skew-ps = <0>;
	rxd3-skew-ps = <0>;
	txen-skew-ps = <0>;
	txc-skew-ps = <2600>;
	rxdv-skew-ps = <0>;
	rxc-skew-ps = <2000>;
};

&mmc0 {
	vmmc-supply = <&regulator_3_3v>;
	vqmmc-supply = <&regulator_3_3v>;
	status = "okay";
};

&usb1 {
	status = "okay";
};

&qspi {
	status = "disabled";

	flash0: n25q00@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "n25q00";
		reg = <0>;
		spi-max-frequency = <100000000>;
		cdns,page-size = <256>;
		cdns,block-size = <16>;
		m25p,fast-read;
		cdns,read-delay = <4>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		part0: partition@0 {
			label = "Flash 0 Raw Data";
			reg = < 0x00000000 0x01000000 >;
		};

		part1: partition@800000 {
			label = "Flash 1 jffs2 Filesystem";
			reg = < 0x01000000 0x03000000 >;
		};
	};
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	touch: touch@4a {
		compatible = "atmel,maxtouch";
		reg = <0x4a>;
//		interrupt-parent = <&portb>; // GPIO51 touch@devboard
//		interrupts = <22 IRQ_TYPE_EDGE_FALLING>; // GPIO51 touch@devboard
		interrupt-parent = <&portc>; // GPIO63 touch@productionboard
		interrupts = <5 IRQ_TYPE_EDGE_FALLING>; // GPIO63 touch@productionboard
	};
	isl12057: isl12057@6F {
		compatible = "isil,isl12022";
		reg = <0x6F>;
	};

};

&spi0 {
	status = "okay";
	lis3dh: accelerometer@0{
//		compatible = "spidev";
//		compatible = "st,lis3dh";
		compatible = "st,lis3dh-accel";
		reg = <0>;
		spi-max-frequency = <1000000>;
		spi-cpol;
		spi-cpha;
		st,drdy-int-pin = <1>;

//		vdd-supply = <&regulator_3_3v>;

//		interrupt-parent = <&portb>;
//		interrupts = <23 IRQ_TYPE_EDGE_FALLING>;
//		interrupt-parent = <&gpio3>;
//		interrupts = <3>; /* gpio34 */
	};
	spidev@1 {
		compatible = "spidev";
		reg = <1>;
		spi-max-frequency = <1000000>;
		status = "okay";
	};
	spidev@2 {
		compatible = "spidev";
		reg = <2>;
		spi-max-frequency = <1000000>;
		status = "okay";
	};
};

&fb_0{
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		
		port@1 {
			reg = <1>;
			fb_output: endpoint {
			        remote-endpoint = <&panel_0>;
			};
		};
	};
};


&clink_to_av_master_0 {
	compatible = "quest,qdma-clink-1.0.0";
	device = "qdma_clink";
	status = "okay";
};

&ez_usb_dma_0 {
	compatible = "quest,qdma-fx3-1.0.0";
	device = "qdma_fx3_0";
	status = "okay";
};

&watchdog0 {
	status = "okay";
};
